@import "variables";

.partners {
    width: 100%;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.people > h2 {
    text-align: center;
    margin-bottom: 40px;
}

.des {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    max-width: 1100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 220px;
}


.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 0;
}

.card p {
    margin-top: 10px;
}

.partners-button {
    display: block;
    margin: 40px auto;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid $color-primary;

    background-color: transparent;
    color: $color-primary;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}